{% extends 'layout_dashboard.html' %} {% load static %} {% load crispy_forms_tags %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Admin Temas</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard:admin' %}">Inicio</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard:subject_index' %}">Temas</a>
          </li>
          <li class="breadcrumb-item active">Eliminar</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- general form elements disabled -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">¿Estás seguro que querés eliminar el tema "{{ subject.name }}"?</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form action="{% url 'dashboard:subject_delete_confirm' subject.id %}" method="POST">
              {% csrf_token %}
              <a href="{% url 'dashboard:subject_index' %}" class="btn btn-primary">No, cancelar</a>
              <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            </form>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>

{% endblock %}