{% extends 'layout_dashboard.html' %} {% load static %} {% load crispy_forms_tags %}
{% block head %} {% endblock %} {% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>JMV Error</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard:admin' %}">Inicio</a></li>
          <li class="breadcrumb-item active">JMV Error</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning">JMV</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-warning"></i> Oops! {{ response }}
      </h3>
      <p>
        Podés <a href="{{url}}">volver atrás</a> o reportarnos el inconveniente por 
        correo a <a href="mailto:error@jmvsports.com">error@jmvsports.com</a>.
      </p>
    </div>
  </div>
  <!-- /.error-page -->
</section>

<div class="wrapper">
  <!-- Preloader -->
  <div
    class="preloader flex-column justify-content-center align-items-center"
  >
    <img
      class="animation__shake"
      src="{% static 'dist/img/logo-gray-full.png' %}"
      alt="AdminJMV"
      width="300"
    />
  </div>
{% endblock %}
