{% extends 'layout.html' %} {% load static %} {% block landing %} 
{% if key_word is None %}
<div style="background-color: #b84735">
  <div class="container" style="padding: 60px 30px">
    <div class="row">
      <div class="col-md-9">
        {% if not request.user.is_authenticated %}
        <h1>Mantenete informado</h1>
        <h4 class="mb-4">
          La información más completa y actualizada del mundo deportivo, aportada
          por la gente. ¡Formá parte de nuestra comunidad!
        </h4>
        <a href="{% url 'blogjmv:login' %}" class="btn btn-info btn-sm">Iniciá sesión</a>
        <a href="{% url 'blogjmv:register' %}" class="btn btn-success btn-sm"
          >Registrate</a
        >
    
        {% else %}
        <h1>¡Bienvenido {{request.user}}!</h1>
        <h4 class="mb-4">
          La información más completa y actualizada del mundo deportivo, aportada
          por la gente. ¡Formá parte de nuestra comunidad!
        </h4>
        <a href="{% url 'dashboard:admin' %}" class="btn btn-info mb-3"
          >Publicá tu contenido</a
        >
        {% endif %}
      </div>
      {% if request.user.is_authenticated %}
      <div class="col-md-3">
        <div class="callout callout-info">
          <p style="font-size: 14px">{{mensajesNoLeidos}} mensaje(s) sin leer.<a href="{% url 'dashboard:chat_index' %}" class="ml-1"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </a>
          </p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %} {% endblock %} {% block header %}

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      {% if key_word is None %}
      <h4 class="text-uppercase">Últimos posts</h4>
      {% else %}
      <h4 class="">Posts por palabra clave: {{ key_word }}</h4>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %} {% block content %}

<div class="row px-3 pb-3">
  {% if posts|length == 0 %}
  <div class="col-12">
      {% if key_word is None %}
      <p class="">
        ¡Publicá nuestro primer post! 
          {% if not request.user.is_authenticated %}
          <a href="{% url 'blogjmv:register' %}">Registrate</a>
          {% else %}
          <a href="{% url 'dashboard:admin' %}">Ingresá al dashboard</a>
          {% endif %} 
          y empezá a ser la voz de la gente en el deporte.
      </p>
      {% else %}
      <p class="">
        No se encontraron posts con la palabra clave ingresada.
        {% if not request.user.is_authenticated %}
        <a href="{% url 'blogjmv:register' %}">Registrate</a> e ingresá al dashboard
        {% else %}
        <a href="{% url 'dashboard:admin' %}">Ingresá al dashboard</a> 
        {% endif %} 
         para publicar tu post relacionado a tu búsqueda.
      </p>
      {% endif %}
  </div>
  {% else %} 
  {% for post in posts %}

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img
          src="{{ post.image.url }}"
          alt="Foto de {{ post.title }}"
          class="card-img"
        />
      </div>
      <div class="col-md-7">
        <div class="card-body px-3 py-1">
          <div>
            <span class="badge bg-warning">{{post.subject}}</span>
          </div>
          <h5 class="card-title">
            <a href="{% url 'blogjmv:post_detail' post.id %}">{{post.title}}</a>
          </h5>
          <p class="card-text mb-0">
            <small class="text-muted"
              >por 
              {% if post.avatar.avatar %}
              <img class="img-circle" src="{{post.avatar.avatar.url}}" width="40px" alt="avatar" />
              {% else %}
              <img
                class="img-circle"
                src="{% static 'images/profile.png' %}"
                width="40px"
                alt="avatar"
              />
              {% endif %}
              {{post.author}} | {{post.ts_updated|date:'d/m/Y H:i:s'}}</small
            >
          </p>
          <p class="card-text mb-0" style="font-size: 15px">{{post.subtitle | truncatechars:100}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

<!-- Preloader -->
<div
  class="preloader flex-column justify-content-center align-items-center"
  style="background-color: #b84735"
>
  <img
    class="animation__shake"
    src="{% static 'images/logo-jmv.jpg' %}"
    alt="AdminJMV"
    width="300"
  />
</div>
{% endblock %}